<link rel="stylesheet" href="style.css">

<div class="container">
  <img alt="Background Image" src="https://raw.githubusercontent.com/nocwalker7/Genshin-Impact-Saweria-Overlays/refs/heads/main/assets/background.jpg" class="background-img">
      <div class="left">
        <div class="mascot">
            <img src="https://raw.githubusercontent.com/nocwalker7/Genshin-Impact-Saweria-Overlays/refs/heads/main/assets/furina-shock.png" height=25%>
        </div>
    </div>
    <div class="right">
      <div class="text">
              <p>
        <span class="amount">Terima Kasih <span class="donator">{donator}</span>
      </p>
      <p>
        <span class="message">
          {message}
        </span>
      </p>
      </div>
  </div>
</div>

<dix class="container" margin-top: -20px;>
  <img alt="Background Image" src="https://raw.githubusercontent.com/nocwalker7/Genshin-Impact-Saweria-Overlays/refs/heads/main/assets/background.jpg" class="background-img">
  <div class="left">
    <div class="text">
      <p>
        <span class="amount">{amount}</span>Dari<span class="donator">{donator}</span>
      </p>
      <p>
        <span class="message">
          {message}
        </span>
      </p>
    </div>
    </div>