<link rel="stylesheet" href="style.css">

<div class="container">
  <img alt="Background Image" src="https://raw.githubusercontent.com/nocwalker7/Genshin-Impact-Saweria-Overlays/refs/heads/main/assets/background.jpg" class="background-img">
      <div class="left">
        <div class="mascot">
            <img src="https://ik.imagekit.io/avux/SaweriaOverlay/anya_peek.webp">
        </div>
    </div>
    <div class="right">
  </div>
</div>

<dix class="container" margin-top: -20px;>
  <img alt="Background Image" src="https://raw.githubusercontent.com/nocwalker7/Genshin-Impact-Saweria-Overlays/refs/heads/main/assets/background.jpg" class="background-img">
  <div class="left">
    <div class="text">
      <p>
        <span class="amount">{amount}</span>Dari<span class="donator">{donator}</span>
      </p>
      <p>
        <span class="message">
          {message}
        </span>
      </p>
    </div>
    </div>