<link rel="stylesheet" href="style.css">

<div class="container">
    <img alt="Background Image" src="https://github.com/nocwalker7/Genshin-Impact-Saweria-Overlays/blob/b51aac3c232ef2eae6e031f6eb0a385dfb37fdc1/assets/background.jpg" class="background-img">
    <div class="left">
    </div>
    <div class="right">
        <div class="text">
            <p>
                <span class="amount">{amount}</span>
                    Dari 
                <span class="donator">{donator}</span>
            </p>
            <p>
                <span class="message">
                    {message}
                </span>
            </p>
        </div>
    </div>
</div>