@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap');

:root {
    --amount: rgb(61, 61, 61);
    --donator: rgb(60, 60, 60);
    --text: #707070;
    --textdonatur: rgb(#ff0d00);
    --text2: rgb(#e2d8c4);
}

.container {
    display: grid;
    grid-template-columns: 0fr 10fr;
    font-family: 'lato', sans-serif;
    position: relative;
    max-width: 780px;
    margin: 0% auto !important;
    padding: 8px;
    box-shadow: 0px rgba(0, 0, 0, 0.8);
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
}

.text {
    position: relative;
    max-width: 750px;
    z-index: 3;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 550;
    letter-spacing: 0.8px;
    line-height: 120%;
    overflow-wrap: break-word; 
    color: var(--text);
}

.text2 {
    position: relative;
    max-width: 750px;
    z-index: 3;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 550;
    letter-spacing: 0.8px;
    line-height: 120%;
    overflow-wrap: break-word; 
    color: var(--text2);
}

.amount {
    color: var(--amount);
}

.donator {
    color: var(--donator);
}
