@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap');

:root {
    --amount: rgb(85, 85, 85);
    --donator: rgb(85, 85, 85);
    --text: #8b8b8b;
}

.container {
    display: grid;
    grid-template-columns: 0fr 10fr;
    font-family: 'lato', sans-serif;
    position: relative;
    max-width: 750px;
    margin: 150px auto !important;
    padding: 0px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: scratch;
    z-index: -1;
}

.text {
    position: relative;
    max-width: 750px;
    z-index: 3;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 550;
    letter-spacing: 0.8px;
}

.amount {
    color: var(--amount);
}

.donator {
    color: var(--donator);
}

.text {
    line-height: 120%;
    overflow-wrap: break-word; 
    color: var(--text);
}