@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap');

:root {
    --amount: rgb(61, 61, 61);
    --donator: rgb(60, 60, 60);
    --text: #707070;

.container {
    display: grid;
    grid-template-columns: 0fr 10fr;
    font-family: 'Lato', sans-serif;
    position: relative;
    max-width: 780px;
    margin: 150px auto !important;
    padding: 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0px;
    object-fit: fill;
    z-index: -1;
}

.mascot {
    position: absolute;
    top: -115px;
    left: 220px;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.mascot img {
    max-width: 60%;
    height: auto;
    filter: drop-shadow(3px 0 4px rgba(0, 0, 0, 0.8));
}

.text {
    position: relative;
    max-width: 750px;
    z-index: 3;
    text-align: Left;
    padding:20px;
    font-size: 1.3rem;
    font-weight: 550;
    letter-spacing: 0.8px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.amount {
    color: var(--amount);
}

.donator {
    color: var(--donator);
}

.text {
    line-height: 120%;
    overflow-wrap: break-word; 
    color: var(--text);
}